<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	colors="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	convertDeprecationsToExceptions="true"
>
	<testsuites>
		<testsuite name="happyaccess">
			<directory suffix="Test.php">./tests/</directory>
		</testsuite>
	</testsuites>
	<groups>
		<exclude>
			<group>ms-required</group>
		</exclude>
	</groups>
	<listeners>
		<listener class="HappyAccess_Test_Reset_State_Listener" file="tests/Support/ResetStateListener.php"/>
	</listeners>
</phpunit>
